{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3.1",
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
